extends layout 

block content 
  div.content-container 
    h1.verification-header Verify Your Account
      p Verification email has been sent. Please enter the verification code below to verify your account.
      form.verification-form(action='/verify' method='POST') 
        div.form-group 
          label(for="email") Email
          input(type='email', name='email', id='email', required=true)
        div.form-group 
          label(for="code") Code
          input(type='text', name='code', id='code', required=true) 
      button(type='submit') Verify